.App { 
  height: 100vh;
  width: 100vh;
}

.marquee { 
  height: calc(100% / 5);
  width: 100vw;
  color: white;
  overflow: hidden;
  background-color: #FF10F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.marquee__content1 { 
  display: flex;
  flex-shrink: 0;
  animation-name: scrolling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.marquee__content2 { 
  display: flex;
  flex-shrink: 0;
  animation-name: scrolling;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.marquee__content3 { 
  display: flex;
  flex-shrink: 0;
  animation-name: scrolling;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.marquee__content4 { 
  display: flex;
  flex-shrink: 0;
  animation-name: scrolling;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
li {
  font-size: 4rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  flex-shrink: 0;
  color: #39FF14;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.image { 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 9999;
}